

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0,0,0,.87);
  background-color: rgb(241, 250, 249) !important;
}
.root{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0,0,0,.87);

  
}


.ui.card{
  width:22% !important;
  margin:10px !important;
  height:30% !important;
  min-width: 22% !important;
  color: blue;
}
.ui.menu{
  min-height:4.85714286em !important;
}

.containerDiv{
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
  margin:10px;
  gap:10px;
  align-items: center;
  place-content:center;
}
.ui.card>.content, .ui.cards>.card>.content{
  background-color: rgb(162, 229, 224) !important;
}
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui){
  margin-bottom: 20px !important;
  font-size: 30px !important;
  text-align: center;
  
}


.containerCard{
  display:flex;
  flex-direction: row;
  position: relative;
  margin:10px;
  margin-left: 300px;
  gap:10px;
  

}
.ui.header{
  margin-top: 20px !important;
  font-size: 40px !important;
  text-align: center;


}
.items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
 
  margin: 10px;
  grid-gap:10px;
  gap:10px;
  place-content:center;
  
}
.item{
  max-width: 100%;
  position: relative;
  margin:1rem ;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  border: 1px solid rgb(34, 36, 38,.15);
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%) ;
  border-radius: 0.28571429rem;
  margin: 10px;
  padding: 10px;
  text-align: center;


}
.itemOnline{
  max-width: 100%;
  position: relative;
  margin:1rem ;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  border: 1px solid rgb(34, 36, 38,.15);
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%) ;
  border-radius: 0.28571429rem;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgba(28, 234, 21, 0.829);

}
.itemOffline{
  max-width: 100%;
  position: relative;
  margin:1rem ;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  border: 1px solid rgb(34, 36, 38,.15);
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%) ;
  border-radius: 0.28571429rem;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgb(250, 28, 28);

}


.containerGraph{
display:flex;
}
